$elementor-mobile-breakpoint: 767px;
$navbar-height: 63px;

// studiowild colors
$sw-black: #2D2722;
$sw-grey: #EBECE7;
$sw-gold: #DDAE3C;

nav.site-navigation {
  justify-content: space-around;
  background-color: #6A8281;
}
header {
  height: $navbar-height;
  z-index: 1001;
  position: sticky;
  top: 0;
  progress {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
    /* Reset the appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Get rid of the default border in Firefox/Opera. */
    border: none;

    /* Progress bar container for Firefox/IE10+ */
    color: $sw-grey;

    &::-webkit-progress-bar {
      background-color: transparent;
    }
    &::-webkit-progress-value {
      background-color: $sw-grey;
    }
    &::-moz-progress-bar {
      background-color: $sw-grey;
    }
  }
}

header.tastyheader {
  display: none;
}

footer.site-footer {
  //&.bg-grey {
  //  background-color: $sw-grey;
  //}
  /*todo: needs mobile media query*/
  height: 250px;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  nav.footer-navigation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  ul#menu-footer li {
    font-size: 12px;
    color: $sw-grey;
  }

  ul#menu-footer li:not(:first-child):before {
    content: " | ";
    margin: 0 20px;
  }

  img#footer-logo {
    position: absolute;
    /*todo: right positioning (and likely sizing) needs media query*/
    right: 55px;
    bottom: 10px;
    width: 150px;
  }
  div.menu-footer-container {
    margin:0 auto 15px;
  }

  ul#menu-footer {
    display: flex;
    list-style-type:none;
  }
}
//both header and footer menus
ul.menu li a {
  font-family: "proxima-nova", sans-serif;
  color: $sw-grey;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

ul.menu li a:hover {
  text-decoration: underline;
}

nav.site-navigation {
  div.menu-main-menu-container {
    width: 80%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
  }
  ul.menu {
    padding: 10px;
    justify-content: space-around;
    li a {
      font-size: 18px;
    }
    li.current_page_item a {
      font-weight: bold;
    }
  }
}

.hero-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-items {
  flex-wrap: wrap;
  .portfolio-item {
    a {
      &:hover h3 {
        text-decoration: underline;
      }
      &:hover div.portfolio-item-img div.portfolio-item-img-overlay {
        display: block;
      }
      div.portfolio-item-img {
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        img {
          flex: 1;
        }
        div.portfolio-item-img-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: none;
        }
      }

    }

  }

}

form#form_contact-studio-wild .frm_form_fields {
  fieldset { border: 0 };
  .frm_form_field.form-field {
    margin-bottom: 1rem;
    input, textarea {
      background-color: $sw-grey;
      //todo: for the grey bg
      // background-color: white;
      border: 0;
      font-family: "proxima-nova", sans-serif;
      letter-spacing: 1.8px;
      opacity: 0.5;
      color: $sw-black;
      &::placeholder {
        color: $sw-black;
      }
    }
  }

  .frm_submit {
    display: flex;
    button {
      margin: auto;
    }
  }
}

section.bg-grey {
  background-color: $sw-grey;
  form#form_contact-studio-wild .frm_form_fields {
    .frm_form_field.form-field {
      input, textarea {
        background-color: white;
      }
    }
  }
}

  //.portfolio-items .portfolio-item a:hover p.portfolio_item_header {
//  text-decoration: underline;
//}
//
//.portfolio-items .portfolio-item a div.portfolio-item-img {
//  position: relative;
//  justify-content: center;
//  display: flex;
//  flex-direction: row;
//  overflow: hidden;
//}
//
//.portfolio-items .portfolio-item a div.portfolio-item-img img {
//  flex: 1;
//}
//
//.portfolio-items .portfolio-item a div.portfolio-item-img div.portfolio-item-img-overlay {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  display: none;
//}

//.portfolio-items .portfolio-item a:hover div.portfolio-item-img div.portfolio-item-img-overlay {
//  display: block;
//}

.full-height {
  height: 100vh;
}

.full-height-with-navbar {
  height: calc(100vh - #{$navbar-height});
}

.sw-button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: "proxima-nova", sans-serif;
  letter-spacing: 1.8px;
  color: #FFFFFF;
  border: 1px solid $sw-gold;
  text-transform: uppercase;
  width: 175px;
  font-size: 1rem;
  &:hover, &:focus {
    background-color: $sw-gold;
  }
  &.button-dark {
    color: #2d2722;
  }
}

/*typography styles*/

.sw-description-paragraph {
  font-family: "proxima-nova", sans-serif !important;
  font-size: 21px !important; // original: 24pt
}

//.sw-cta {
//  font-family: "proxima-nova", sans-serif !important;
//  font-size: 16px !important; // original: 18pt
//  text-transform: uppercase !important;
//  letter-spacing: 2.4px !important; // original: 100pt
//  font-weight: 700 !important; /* todo: this is because adobe fonts project only has the weights of 400 and 700*/
//}